/* 重写样式表 */

.VPHome[data-v-8094d941] {
    padding-bottom: 26px;
}

.text[data-v-463de855] {
    max-width: 392px;
    letter-spacing: -0.4px;
    line-height: 40px;
    font-size:22px;
    color:#10b981;
    font-weight: 700;
    white-space: pre-wrap;
}

.link[data-v-980a75a4] {
    display: inline-block;
    border: 1px solid #10b981;
    border-radius: 16px;
    padding: 3px 16px;
    font-size: 14px;
    font-weight: 500;
    color:#10b981;
    transition: border-color .25s,color .25s;
}