/* 重写样式表 */

.VPHome[data-v-8094d941] {
    padding-bottom: 26px;
}

.text[data-v-463de855] {
    max-width: 392px;
    letter-spacing: -0.4px;
    line-height: 40px;
    font-size:22px;
    font-weight: 700;
    white-space: pre-wrap;
}